#toolbar {
    display: flex;
    justify-content: space-between;
}

#toolbar #buttongroup button {
    font-size: inherit;
}

#logo {
    max-height: 20px;
    max-width: 145px;
}

#menudrawertrigger {
    display: none;
}

@media (max-width: 1155px) {
    #toolbar #buttongroup button {
        font-size: 12px;
    }
}

@media (max-width: 1055px) {
    #toolbar #buttongroup button {
        font-size: 11px;
    }
}

@media (max-width: 955px) {
    #toolbar #buttongroup button {
        font-size: 9px;
    }
}

@media (max-width: 900px) {
    #toolbar #buttongroup button {
        font-size: 8px;
    }
}

@media (max-width: 820px) {
    #toolbar #buttongroup button {
        display: none;
    }
    #menudrawertrigger {
        display: block;
    }
}   