.textContainer {
    padding: 25px;
    text-align: center;
    position: relative;
}

.photoContainer {
    height: 50vh;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rightWrapper {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.leftWrapper {
    flex-direction: row;
    flex-wrap: wrap;
}

.leftArrow {
    position: absolute;
    z-index: 1;
    right: -15px;
    top: calc(50% - 7.5px);
    border-left: 15px solid #fff;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

.rightArrow {
    position: absolute;
    z-index: 1;
    left: -15px;
    top: calc(50% - 7.5px);
    border-right: 15px solid #fff;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

@media (max-width: 600px) {
    .rightArrow {
        bottom: -30px;
        right: calc(50% - 7.5px);
        left: calc(50% - 7.5px);
        border-top: 15px solid #fff;
        border-right: 15px solid transparent;
        top: auto;
    }
}