footer, #footerbg {
    position: fixed;
    bottom: -5px;
    height: 70vh;
    width: 100%;
}

footer {
    z-index: -1;
    background: rgba(17, 17, 17, 0.9);
    color: #fff;
}

#footer {
    margin: auto;
    height: calc(100% - 60px);
}

#footerbg {
    z-index: -2;
    filter: grayscale(100%);
}

footer .MuiInput-underline::before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}

footer .MuiInput-underline::before:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.42);
}

.MuiInput-underline:hover:not(.Mui-disabled)::before {
    border-bottom: 2px solid rgba(255, 255, 255, 0.87) !important;
}

#copyright {
    font-size: 10px;
    height: 60px;
    line-height: 60px;
    background: rgba(17, 17, 17, 1);;
}