#iframeOverlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: relative;
    width: 100%;
    height: 540px;
    top: 540px;
    margin-top: -540px;
    pointer-events: all;
}

#iframeOverlay div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 400;
}

iframe {
    border: 0;
}