#sharingButtonGroup {
    width: 45px;
    position: fixed;
    right: -2px;
    top: 51vh;
    z-index: 1200;
    background: rgba(255,255,255,0.8);
}

.sharingButton {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

@media (max-width: 1325px) {
    #brochureCaption {
        display: none;
    }
}